<div class="tong">
    <div class="video">
        <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
    </div>
    <div class="name-video">PHIM PHU THUY TOI THUONG</div>
    <div class="comment">
        <div class="main-cm">
            <div class="avatar"><img src="/assets/phu-thuy-toi-thuong-trong-da-vu-tru-hon-loan-73836-thumbnail.jpg"
                    alt=""></div>
                    <mat-form-field class="cm" appearance="fill">
                        <mat-label>Comment</mat-label>
                        <input  matInput [formControl]="comment" placeholder="Comment" >
                      </mat-form-field>
        </div>
        <div class="user-cm">
            <div class="avatar"><img src="/assets/phu-thuy-toi-thuong-trong-da-vu-tru-hon-loan-73836-thumbnail.jpg"
                    alt=""></div>

                  <div class="content-all  cm">
                      <div class="name-usercm"> nguyen hoang</div>
            <div class="content-comment">phim hay vai</div>
            <div class="like-share"><span>Reply&ensp;</span><span>1m</span></div>
        </div>  
        </div>

    </div>
</div>
<app-footer></app-footer>