<div class="footer">
    <div class="footer-logo"><img src="/assets/logo_itsol.png" alt=""></div>
    <div class="footer-movie">
        <div class="footer-title">Phim Mới</div>
        <div class="content-footer">
            <ul>
                <li><a href=""> Phim viễn tưởng mới</a></li>
                <li><a href=""> Phim kinh dị mới</a></li>
                <li><a href=""> Phim hành động mới</a></li>
                <li><a href=""> Phim kiếm hiệp mới</a></li>
                <li><a href=""> Phim hoạt hình mới</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-movie">
        <div class="footer-title">Phim Lẻ</div>
        <div class="content-footer">
            <ul>
                <li> <a href=""> Phim viễn tưởng</a></li>
                <li> <a href=""> Phim kinh dị</a></li>
                <li> <a href=""> Phim hành động</a></li>
                <li> <a href=""> Phim kiếm hiệp</a></li>
                <li> <a href=""> Phim hoạt hình</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-movie">
        <div class="footer-title">Phim Bộ</div>
        <div class="content-footer">
            <ul>
                <li><a href=""> Phim viễn tưởng</a></li>
                <li><a href=""> Phim kinh dị</a></li>
                <li><a href=""> Phim hành động</a></li>
                <li><a href=""> Phim kiếm hiệp</a></li>
                <li><a href=""> Phim hoạt hình</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-lienhe"> Liên Hệ:<br> EMAIL:hoang10x77@gmail.com</div>
</div>